{% extends "base.html" %}

{% block title %}
    Login
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/forms.css') }}">
{% endblock %}

{% block content %}
<form action="/login" method="POST">
    <label for="login-uname">Username</label>
    <input type="text" name="inputuname" id="login-uname">
    <label for="login-pwd">Password</label>
    <input type="password" name="inputpassword" id="login-pwd">
    <button type="submit">Log In</button>
</form>
{% endblock %}

